<h1>About</h1>

<h2>Works Referenced</h2>

<ul>
  <li><%= link_to 'The Rules of Unified English Braille - Second Edition 2013', "http://www.iceb.org/Rules%20of%20Unified%20English%20Braille%202013%20(linked).pdf" %></li>
  <li><%= link_to 'List of Characters in American Literary Braille', 'http://interglacial.com/~sburke/braille/table.html' %></li>
</ul>
